.nav{
    display:flex;
    flex-direction:row;
    
    
    top:0;
    align-content: space-evenly;
}
.option{
    border: 5px solid;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    text-align: center;
    
}


